@import url(/css/begumSansFont/stylesheet.css);

.accordion {
  margin: 5% 0% 5% 50%;
  transform: translateX(-50%);
  width: 80%;
  margin-bottom: 5%;
  padding: 1.2rem 0;
  border-radius: 1rem;
  background: white;
  /*   box-shadow: 0 0 5rem lightgrey; */
}

.accordion__heading {
  font-family: "Begum Sans Semi", sans-serif;
  margin-bottom: 1rem;
  padding: 0 1.4rem;
}

.accordion__item:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.accordion__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: white;
  border: none;
  outline: none;
  color: var(--color-text);
  font-family: "Begum Sans", sans-serif;
  font-size: 1.2rem;
  text-align: left;
  cursor: pointer;
  transition: 0.1s;
}
.accordion__btn:hover {
  color: var(--color-purple);
  background: white;
}

.accordion__item--active .accordion__btn {
  color: #2ea14b;
  border-bottom: 2px solid var(--color-purple);
  background: white;
}

.fa-lightbulb {
  padding-right: 1rem;
  color: #fb923c;
}
.accordion__icon {
  border-radius: 50%;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}
.accordion__item--active .accordion__icon {
  transform: rotate(135deg);
}

.accordion__content {
  font-family: "Begum Sans Light", sans-serif;
  font-weight: 300;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  color: var(--color-text-muted);
  transform: translateX(16px);
  transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
}
.accordion__content p {
  padding: 1rem 1.8rem;
}

.accordion__item--active .accordion__content {
  opacity: 1;
  transform: translateX(0px);
  max-height: 100vh;
}

@media screen and (max-width: 767px) {
  .faq {
    font-size: 1.2rem;
  }
}
