/* @import url(//db.onlinewebfonts.com/c/43b6a22abf4688936bcefbd5156e03e8?family=Begum-Regular); */
@import url(/css/begumSansFont/stylesheet.css);
@import url(//db.onlinewebfonts.com/c/c14892d3935fa4d259ee50c732b92853?family=Dirt2+Stickler);

.hero {
  height: 90vh;
  color: rgb(0, 0, 0);
  font-family: "Begum Sans Semi", sans-serif;
}
.hero__content {
  max-width: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero__content__titleDec {
  font-size: 36px;
  font-weight: bold;
}
.hero__content__title {
  font-size: 96px;
  font-weight: bold;
  font-family: "Begum Sans Bold", sans-serif;
}
.hero__content__patners {
  margin: 1rem;
  font-size: 24px;
  font-weight: bold;
  word-spacing: 2rem;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.hero__content__patners-img {
  height: 3rem;
  width: auto;
}

@media screen and (max-width: 768px) {
  .hero__content__titleDec {
    font-size: 24px;
    font-weight: bold;
    line-height: 4rem;
  }
  .hero__content__title {
    font-size: 35px;
    font-weight: bold;
  }

  .hero__content__title > span {
    letter-spacing: 0.1em;
  }

  .hero__content__patners {
    font-size: 24px;
    font-weight: bold;
    word-spacing: 2.5rem;
    line-height: 4rem;
  }
  .hero__content__patners-img {
    height: 2rem;
  }
}

/* common classes */
canvas {
  position: absolute;
  top: 0;
  height: 90vh;
  z-index: -1;
}
.text-orange {
  color: #f15b2a;
}
.text-blue {
  color: #333399;
}
.text-green {
  color: #368780;
}
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  letter-spacing: 0.5rem;
}
