.nav-header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-radius: 0.8rem;
  z-index: 69;
  top: 0;
  transition: top 0.5s ease-in-out;
}

/* navbar hide/unhide upon scroll */
.hide {
  top: -80px;
}

@media screen and (max-width: 900px) {
  .navbar-menu {
    padding-bottom: 1.2rem;
  }
}

#overview {
  padding-top: 5rem;
}

.new {
  padding-top: 3rem;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-item,
.navbar-link {
  color: #637282;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
  text-transform: capitalize;
  font-weight: bold;
}

.navbar-burger {
  color: #637282;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-menu {
  display: none;
}

.navbar,
.navbar-item,
.nabar-brand,
:after,
:before {
  box-sizing: inherit !important;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .navbar-item {
    display: flex;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }
  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
  }

  .navbar-end {
    font-family: "Begum Sans Semi", sans-serif;
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar,
  .navbar-end,
  .navbar-menu,
  .navbar-start {
    align-items: stretch;
    display: flex;
  }

  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.nav-link {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  color: black;
  opacity: 0.5;
}

.nav-link:hover {
  opacity: 1;
}

a.btn-rounded {
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 500;
}

a.btn-rounded:hover {
  opacity: 0.8;
}

.event-btn {
  background: #fb793d;
  padding: 8px 12px;
  border-radius: 50px;
  font-weight: bold;
}

.nav-header {
  position: fixed;
  width: 100%;

  border-radius: 0.8rem;
  z-index: 69;
}

@media screen and (max-width: 900px) {
  .navbar-menu {
    padding-bottom: 1.2rem;
  }
  .center-items {
    justify-content: center;
  }
}
